/*-----------------------------------*\
	$FOOTER
\*-----------------------------------*/
.footer{
	background:url("img/footerBG.jpg") no-repeat center center;
	background-size: cover;
	padding:40px 0;
	color:#fff;
	
	/*
	Make the Facebook Like box responsive (fluid width)
	https://developers.facebook.com/docs/reference/plugins/like-box/
	*/
	 
	/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
	#fb-root {
	  display: none;
	}
	 
	/* To fill the container and nothing else */
	.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
	  width: 100% !important;
	}
	.fb-comments, .fb-comments iframe[style] {width: 100% !important;}

	.unit{
		border-right:1px solid lighten($primary-color, 10%);

		h5{
			color:$contrasting-color;
			font-size:1.2em;
			margin-bottom:15px;
			text-transform: uppercase;
		}
	}

	.unit:last-child, .social{
		border-right:none !important;
	}

	.fb-like-box, .fb_iframe_widget{
		background:#fff;
	}

	.contact{
		li{
			margin-left: 25px;
			margin-bottom:20px;
			line-height:1.4em;
		}
		li:before{
			content:"➜";
			position: absolute;
			left:-25px;
			top:4px;
			color: $contrasting-color;
			font-size: .8em;
			z-index: 1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}

		a:link{
			margin-bottom:10px;
			@include quick;
		}
		a:link, a:visited{
			color:#fff;
			text-decoration: none;
			@include quick;
		}
		a:hover, a:active, a:focus{
			color:$contrasting-color;
			@include quick;
		}



	}

	.quicklinks{
		line-height:1.4em;

		a:link{
			float:left;
			width:50%;
			margin-bottom:10px;
			@include quick;
		}
		a:link, a:visited{
			color:#fff;
			text-decoration: none;
			@include quick;
		}
		a:hover, a:active, a:focus{
			color:$contrasting-color;
			@include quick;
		}
	}

	p.copyright{
		color:#FFF;
		font-size:0.7rem;
		margin-bottom: 0 !important;
		margin-top:40px;
	}
}



@media screen and (max-width: 650px) {
	.footer{
		.unit{
			border-right:none !important;
			border-bottom:1px dotted lighten($primary-color, 10%);
			padding-bottom:20px;
			margin-bottom:20px;
		}
		p.copyright{
			text-align:center;
		}
	}
}